@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-dark-blue2: hsl(207, 26%, 17%);
  --color-dark-blue3: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-extra-bold: 800;
  --transition: 300ms ease-in-out;
  --color-blurry: rgb(0 0 0 / 3%);
  --color-strong-blurry: rgb(0 0 0 / 29%);
  --detail-box-shadow: 0 0 10px 0 var(--color-strong-blurry);
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

button,
input,
select {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1,
p {
  margin: 0;
}
